# mdbook に関連するもの
book
# macOS leaves these files everywhere:
.DS_Store
# Created by `lake exe cache get` if no home directory is available
/.cache
# After v4.3.0-rc2 lake stores its files here:
/.lake/

/src/*
!src/image
!src/links.md
!src/README.md
!src/404.md
!src/SUMMARY.md

*.olean

# pdf 関係
*.pdf
