@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap') format('woff2');
}

@font-face {
  font-family: JuliaMono-Light;
  font-style: normal;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.048/JuliaMono-Light.woff2");
}