# see: https://github.com/rami3l/plfl/blob/master/.github/workflows/ci.yml
name: CI

# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - 'Examples/**'
      - 'lean-toolchain'
      - 'lakefile.lean'
      - 'lakemanifest.json'
      - '.github/workflows/ci.yml'
  push:
    branches:
      - main
    paths:
      - 'Examples/**'
      - 'lean-toolchain'
      - 'lakefile.lean'
      - 'lakemanifest.json'
      - '.github/workflows/ci.yml'
  workflow_dispatch:

jobs:
  ubuntu_build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: lean action
        uses: leanprover/lean-action@v1
        with:
          build-args: "--log-level=error"

  # Lean の更新により Windows 環境でだけビルドが壊れる可能性もあるので、
  # 念のために Windows 環境でもビルドを行う
  windows_build:
    runs-on: windows-latest
    # 失敗することはめったにないので PR 時にはチェックしない
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install elan
        run: |
          curl -O --location https://raw.githubusercontent.com/leanprover/elan/master/elan-init.ps1
          echo 1 | powershell -ExecutionPolicy Bypass -f elan-init.ps1
          del elan-init.ps1
          (Resolve-Path ~/.elan/bin).Path >> $Env:GITHUB_PATH
        shell: pwsh

      - uses: actions/cache@v4
        with:
          path: ./.lake
          key: lake-${{ runner.os }}-${{ hashFiles('lean-toolchain') }}-${{ hashFiles('lake-manifest.json') }}-${{ github.sha }}
          # if no cache hit, fall back to the cache with same lean-toolchain and lake-manifest.json
          restore-keys: lake-${{ runner.os }}-${{ hashFiles('lean-toolchain') }}-${{ hashFiles('lake-manifest.json') }}

      - name: get mathlib cache
        run: lake exe cache get
        shell: pwsh

      - name: run lake build
        run: lake build --log-level=error
        shell: pwsh
